<!DOCTYPE html>
<html>

  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Sweet Dreams.com</title>
	 <link rel="icon" href="/image/icon.jpg" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- <link rel="header" href="header.css" > -->
  </head>

   
<body>
    <div class="page">

        <!-- header  -->
        <div class="header">
            <div class="logo" style="text-align: center;">
                <a href="/image/logo.png" title="dreamsweet.com" class="logo">
                    <img src="/image/logo.png" alt="dreamsweet.com" width="310px" height="32px">
                </a>
            </div>
            <div class="topnav">
                <ul id="main-menu">
                    <li><a href="home">Trang chủ</a></li>
                    <li><a href="">Sản phẩm</a>
                        <ul class="submenu">
                            <li><a href="">Gấu bông</a></li>
                            <li><a href="">Gối ngủ văn phòng</a></li>
                            <li><a href="">Bịt mắt ngủ</a></li>
                            <li><a href="">Gấu bông</a></li>
                        </ul>
                    </li>
                    <li><a href="/cart">Giỏ hàng</a></li>
                    <li><a href="/register">Đăng nhập</a></li>
                    <li><input type="text" placeholder="Search.."></li>
                </ul>
            </div>
        </div>

        <div class="std">

            <!-- Danh sách sản phẩm -->
            <div id="wrapper">
                <div class="spbc">
                    <h1>Sản phẩm bán chạy</h1>
                </div>

                <!-- ul.products>li*8>.product-item -->
                <ul class="products">
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/1.1.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Gấu bông</a>
                                <a href="" class="product-name">Gấu bông 7 màu</a>
                                <div class="product-price">200,000 vnđ</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/1.2.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Gấu bông</a>
                                <a href="" class="product-name">Gấu bông trắng có nơ</a>
                                <div class="product-price">200,000 vnđ</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/1.3.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Gấu bông</a>
                                <a href="" class="product-name">Gấu dâu </a>
                                <div class="product-price">150,000 vnđ</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/2.1.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Bịt mắt ngủ</a>
                                <a href="" class="product-name">Bịt mắt ngủ hình gấu trúc</a>
                                <div class="product-price">99,000 vnđ</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/2.2.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Bịt mắt ngủ</a>
                                <a href="" class="product-name">Bịt mắt ngủ hình mặt cười</a>
                                <div class="product-price">109,000 vnđ</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/2.3.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Bịt mắt ngủ</a>
                                <a href="" class="product-name">Bịt mắt Louis Vuitton làm từ lông chồn siêu mềm mại</a>
                                <div class="product-price">26,000,000 vnđ</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/3.1.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Gối ngủ văn phòng</a>
                                <a href="" class="product-name">Gối tựa đầu hiệu Everon</a>
                                <div class="product-price">239,000 vnđ</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/3.2.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Gối ngủ văn phòng</a>
                                <a href="" class="product-name">Gối chữ U hình gấu</a>
                                <div class="product-price">99,000 vnđ</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="product-item">
                            <div class="product-top">
                                <a href="" class="product-thumb">
                                    <img src="/image/3.3.png" alt="">
                                </a>
                                <a href="" class="buy-now">Mua ngay</a>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-cat">Gối ngủ văn phòng</a>
                                <a href="" class="product-name">Gối ngủ văn phòng êm, dịu nhẹ</a>
                                <div class="product-price">135,000 vnđ</div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js" ></script>
    <script>
        $(document).ready(function(){
            // Tìm tất cả các li có sub-menu và them vào nó class has-child
            $('.submenu').parent('li').addClass('has-child');
        });
    </script>
</body>
</html>